# ============================================
# ELITE CHILE RP BOT - Variables de entorno
# ============================================

DISCORD_TOKEN=tu_token_aqui
CLIENT_ID=tu_client_id_aqui
CLIENT_SECRET=tu_client_secret_aqui
GUILD_ID=tu_guild_id_aqui

# ID del rol que se asigna automáticamente al crear DNI (Civil / Ciudadano)
CIVIL_ROLE_ID=tu_id_rol_civil_aqui

# ID del rol de Staff (para comandos exclusivos)
STAFF_ROLE_ID=1508320073784496159